:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --section-text-color: #212121;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --primary-heder-footer-color: #2f303a;
  --button-second-color: #188ce8;
  --button-galery-box: #f5f4fa;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  color: var(--primary-text-color);
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* ===ГЕОМЕТРИЯ РАЗМЕТКИ=== */

/* ===сброс настроек=== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* ===контейнер div общий=== */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid palevioletred;
}

.section {
  padding-top: 94px;
}

/* РАСПОЛОЖЕНИЕ ХЕДЕРА */
.header-container,
.section-item,
.contact-info {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

/* ===хедер контакты=== */
.contact-link {
  flex-wrap: wrap;
  margin-left: 331px;
  margin-right: 30px;
}
.contact-phone {
  margin-right: -30px;
}
.section-nav:not(:last-child) {
  margin-right: 50px;
}

.header {
  padding-top: 24px;
  padding-bottom: 31px;
}

/* ===герой=== */
.hero {
  display: flex;
  text-align: center;
  outline: 2px solid palevioletred;
}

.hero-title {
  width: 696px;
  margin-top: 200px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  width: 200px;
  border-radius: 4px;
  border: none;
  margin-top: 15px;
  margin-bottom: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ===НАШИ ПРЕИМУЩЕСТВА */
.section-li {
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 30px;
}
.section-ul-headline {
  margin-top: -30px;
  margin-left: -30px;
}
.section-headline {
  margin-bottom: 10px;
  margin-top: 30px;
}

/* ====ФОТО РАБОТ=== */
.wort-item {
  margin-bottom: 50px;
}
.section-padding {
  padding-bottom: 94px;
}

.section-ul-photo {
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ===КОМАНДА ВЕБСТИДИО=== */
.comand-item {
  margin-bottom: 50px;
}
.section-team {
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 30px;
}

.section-ul-team {
  margin-top: -30px;
  margin-left: -30px;
}
.comand-fon {
  margin-bottom: 0;
  padding-bottom: 94px;
}

.section-title-name {
  margin-bottom: 10px;
  margin-top: 30px;
}

.section-text-name {
  margin-bottom: 0;
  margin-bottom: 16px;
}

/* ===ФУТЕР=== */
.footer {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  outline: 2px solid palevioletred;
}

.section-item-footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-footer {
  margin-bottom: 20px;
}

.section-footer {
  margin-bottom: 9px;
}

/* ===ГАЛЕРЕЯ=== */
.section-ul-galery {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
  justify-content: space-between;
}

.section-li-galery {
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 30px;
}

/* ===навигация портфолио=== */
.section-photo-item {
  padding-top: 94px;
}

.section-ul-portfolio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .section-partner {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-left: 30px;
}

.section-ul-partner {
  margin-top: -30px;
  margin-left: -30px;
} */

/* 

.section-item {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding-right: 215px;
  padding-left: 215px;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
}

.section-nav:not(:last-child) {
  margin-right: 50px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

/* .comand-fon {
  margin-top: -30px;
  margin-left: -30px;
}


/* .contact-link,
.contact-phone {
  
  space-beetwen
} */

/* .section * {
  outline: 1px solid teal;
} */

/*  сетка */
/* .section > .section-photo {
  flex-basis: calc((100% - 20px) - 3);
}

.section > .section-li,
.section > .section-team {
  flex-basis: calc((100% / 4) -20px);
}

.section > .section-partner {
  flex-basis: calc((100% - 20px) / 3);
}

/* .section > .section-partner {
  flex-basis: calc((100% - 20px) / 6);
} */

/* */

/* ===ЛОГОТИП=== */
.logo {
  color: var(--primary-black-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-footer {
  color: var(--primary-white-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-style {
  color: var(--accent-color);
}

.logo:hover,
.logo:focus,
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

/* ===снятие маркировки со всех списков=== */
.link-ul {
  list-style: none;
}

/* ===снятие декорации со всех ссылок=== */
.link-a-href {
  text-decoration: none;
}

/* ===навигация сайта=== */
.site-nav {
  color: var(--section-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .current {
  color: var(--accent-color);
}

/* ===ссылки навигации черного-цвета - согласно ТЗ=== */
.site-nav,
.mail-active,
.phone-active {
  color: var(--section-text-color);
}

.site-nav:hover,
.site-nav:focus {
  color: var(--accent-color);
}

/* ===хедер контактная информация=== */
.contact-link .mail-active,
.contact-phone .phone-active {
  font-weight: 500;
  letter-spacing: 0.02em;
}
.mail-active:hover,
.mail-active:focus,
.phone-active:hover,
.phone-active:focus {
  color: var(--accent-color);
}

/* ===герой=== */
.hero {
  background-color: var(--primary-heder-footer-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

/* ===кнопки героя=== */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-decoration: none;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: var(--primary-white-color);
  background-color: var(--button-second-color);
}

/* ===стили заголовков и текстов внутри секций=== */

.section-headline {
  color: var(--section-text-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
}

.section-text {
  line-height: 1.71;
}

.section-title {
  color: var(--section-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ===секция про Команду WebStudio=== */
.comand-fon {
  background-color: var(--button-galery-box);
}

.section-title-name {
  color: var(--section-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.section-text-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* ===галерея-портфолио-страница === */
.section-title-galery {
  color: var(--section-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-text-galery {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* ===кнопки галерея-портфолио-страница=== */
.button-galery {
  color: var(--section-text-color);
  background-color: var(--button-galery-box);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
}
.button-galery:hover,
.button-galery:focus {
  color: var(--primary-white-color);
  background-color: var(--button-second-color);
}

/* ===курсор=== */
.button,
.button-galery {
  cursor: pointer;
}

/* ===футер=== */
.footer {
  background-color: var(--primary-heder-footer-color);
}
.footer-address {
  color: var(--primary-white-color);
}
.footer-phone,
.footer-mail {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address,
.footer-phone,
.footer-mail {
  font-style: normal;
  text-decoration: none;
}

.footer-address:hover,
.footer-address:focus,
.footer-phone:hover,
.footer-phone:focus,
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
  text-decoration: none;
}

/* бордер герой                     border: 1px solid #ECECEC; */
/* задний фон картинок блока преимщества              #F5F4FA */
/* наша команда задний фон                background: #F5F4FA; */
